


<div class="row">
    <div 
    *ngFor="let mov of movieInfo"
    class="col-md-4 mb-md-0">
        <div class="card mb-5">
            <figure class="moviecard">
                <img src="https://image.tmdb.org/t/p/w500/{{mov.poster_path || mov.backdrop_path}}" alt="">
                <figcaption>
                    <div class="movtitle">
                        <div class="row h-60 d-flex justify-content-between align-itmes-center">
                            <div class="col-10">
                                <h3 class="mb-0 ">{{mov.title || mov.original_title}}</h3>
                            </div>
                            <div class="col-2">
                                <span 
                                [ngClass]="{
                                    'bg-success':mov.vote_average >=7.5,
                                    'bg-warning':mov.vote_average >=5 && mov.vote_average <7.5,
                                    'bg-danger':mov.vote_average <5
                                }"
                                class="p-2">{{mov.vote_average}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="movieoverview">
                        <h4 class="mb-0">{{mov.title}}</h4>
                        <p class="mb-0">{{mov.overview}}</p>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
