


.card{
    height: 500px;
}

.moviecard{
    height: 100%;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.moviecard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movtitle{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: blueviolet;
    padding: 20px;
    width: 100%;
}

.movtitle .row{
    height: 60px;
    display: flex;
    align-items: center;
}

.movieoverview{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    transform: scale(0);
    transition: all .7s linear;
}

.moviecard:hover .movieoverview{
    transform: scale(1);
    top: 30%;
    overflow-y: auto;
}

// .movtitle h3{
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }


@media  all and (max-width:460px) {
    .row{
        display: flex;
        flex-direction: row;
    }
}